# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: Metrics
on:
  # Schedule updates (daily)
  schedule: [{cron: "0 0 * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.GH_TOKEN }}

          # Options
          user: harrytien107
          template: classic
          base: ""
          config_timezone: Asia/Saigon
          
          # Anilist plugin configuration
          plugin_anilist: yes
          plugin_anilist_user: Harytien
          plugin_anilist_medias: anime, manga
          plugin_anilist_sections: favorites, characters
          plugin_anilist_limit: 2
          plugin_anilist_limit_characters: 22
          plugin_anilist_shuffle: yes
          
          # # Steam plugin configuration
          # plugin_steam: yes
          # plugin_steam_token: ${{ secrets.STEAM_TOKEN }}
          # plugin_steam_user: "76561199046065030"
          # plugin_steam_sections: player, most-played, recently-played
          # plugin_steam_games_limit: 1
          # plugin_steam_recent_games_limit: 1
          # plugin_steam_achievements_limit: 2
          # plugin_steam_playtime_threshold: 2

          # Spotify plugin configuration
          plugin_music: yes
          plugin_music_provider: spotify
          plugin_music_mode: top
          plugin_music_playlist: <iframe src="https://open.spotify.com/embed/playlist/1I70cyeJ76eH51i4Enj5Ig" width="" height="" frameborder="0" allowtransparency="" allow=""></iframe>
          plugin_music_token: ${{ secrets.SPOTIFY_CLIENT_ID }},${{ secrets.SPOTIFY_CLIENT_SECRET }},${{ secrets.SPOTIFY_REFRESH_TOKEN }}
          plugin_music_time_range: short
          plugin_music_top_type: tracks
          plugin_music_limit: 10
          plugin_music_played_at: yes

